__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
.venv/
venv/
build/
dist/
data/
donnees/
resultats/
models/
*.tif
*.tiff
*.shp
*.shx
*.dbf
*.prj
*.gpkg
*.cpg
*.sbn
*.sbx
*.pt
*.pth
*.npz
*.npy
*.zip
